trigger:
 branches:
  include:
  - frature/*
  - main

pool: Azure Pipelines

stages:
- stage: Build_Stage
  displayName: Terraform  init to plan
  jobs:
  - job: Terraforminit
    displayName: Terraform Init
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/toduapps'
        backendServiceArm: 'workload'
        backendAzureRmResourceGroupName: 'rg-shiva'
        backendAzureRmStorageAccountName: 'storage7118'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'terraformtfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/toduapps'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/toduapps'
        environmentServiceNameAzureRM: 'workload'
- stage: scaning stage
  jobs:
  - job: scanning_stage
    steps:
    
    
