trigger:
  branches:
    include:
      - frature/*
      - main

pool: infra_pool

stages:
- stage: Build_Stage
  displayName: Terraform init to plan
  jobs:
  - job: Terraforminit
    displayName: Terraform Init
    steps:
    - task: TerraformInstaller@1
      displayName: Terraform installation
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Preprod'
        environmentServiceNameAzureRM: 'workeload_federation'
        backendServiceArm: 'workeload_federation'
        backendAzureRmOverrideSubscriptionID: '0fed9206-7606-41d6-bea8-83033d2b432f'
        backendAzureRmResourceGroupName: 'shiva-rg'
        backendAzureRmStorageAccountName: 'shivastg7118'
        backendAzureRmContainerName: 'file'
        backendAzureRmKey: 'terraformtfstate'
       

    - task: TerraformTask@5
      displayName: Terraform validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Preprod'
        environmentServiceNameAzureRM: 'workeload_federation'
       

    - task: TerraformTask@5
      displayName: Terraform plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environment/Preprod'
        environmentServiceNameAzureRM: 'workeload_federation'

- stage: scaning_stage
  jobs:
  - job: scanning_stage
    steps:
    - task: tfsec@1
      inputs:
        version: 'v1.26.0'
        args: 'tfsec .'
        dir: '$(System.DefaultWorkingDirectory)/Environment/Preprod'
